extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Thesis Topic Submitter
        div.Form
            div.Title
                h1 Log In
            form(method='POST' action="/login").Input
                div.Details
                    label(for="inputEmail" class="sr-only") Email address
                    input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
                    label(for="inputPassword" class="sr-only") Password
                    input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)
                div.NavButtons
                    input(type="submit" value="Log In")
        div.Form
            a(href="/privacyPolicy") Our Privacy Policy