extends layout

block layout-content
    div.Policy
        h1 Wroclaw University of Science and Technology's Thesis Submitter Privacy Policy
        p Wrocław University of Science and Technology's Thesis Submitter is property of Wrocław University of Science and Technology (the University thereafter).
            br
            | This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
        h2 What data do we collect?
        p The University collects the following data:
            ul
                li Personal identification information (full name, email address)
                li Information on studies direction and progress (index number, year of study, form of study, degree of study, specialization)
                li Information on your thesis declaration (polish title, english title, chosen promoter, status, goal and scope, initial structure)
        h2 How do we collect your data?
        p Most of the data collected is fetched from student data existing in CL Education.
            br
            | We collect and process thesis declaration data when you submit the data.
        h2 How will we use your data?
        p The University collects your data so that we can
            ul
                li Process and manage your account.
                li Process and manage your thesis title declaration.
            br
            | If you agree, the University will share your data with our other systems for further processing.
        h2 How do we store your data?
        p The University stores your data in a secure database located at Google Firestore.
        h2 What are your data protection rights?
        p The University would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
            ul
                li
                    strong The right to access
                    |  – You have the right to request the University for copies of your personal data. We may charge you a small fee for this service.
                li
                    strong The right to rectification
                    |  – You have the right to request that the University correct any information you believe is inaccurate. You also have the right to request the University to complete the information you believe is incomplete.
                li
                    strong The right to erasure
                    |  – You have the right to request that the University erase your personal data, under certain conditions.
                li
                    strong The right to restrict processing
                    |  – You have the right to request that the University restrict the processing of your personal data, under certain conditions.
                li
                    strong The right to object to processing
                    |  – You have the right to object to the University’s processing of your personal data, under certain conditions.
                li
                    strong The right to data portability
                    |  – You have the right to request that the University transfer the data that we have collected to another organization, or directly to you, under certain conditions.
            | If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:
            a  admin.thesisSubmitter@pwr.edu.pl
        h2 Cookies
        p This website doesn't use cookies in any way.
        h2 Changes to our privacy policy
        p The University keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 7 November 2021.