extends layout

block layout-content
    div.View.UserView
        h1.Banner Promoter
        div.Form
            form(method='POST' action="/promoter/thesisSuggestion")
                div.NavButtons
                    input(type="submit" name="accept" value="Suggest a topic")
        div.Form
            form(method='POST' action="/promoter/studentThesis")
                div.Details
                    select(name="thesesList" id="thesesList" class="form-control")
                        each thesis in thesesList
                            option(value=thesis.studentEmail)= thesis.status + " | " + thesis.topicPolish + " | " + thesis.topicEnglish
                div.NavButtons
                    input(type="submit" name="accept" value="Load declaration data")
        div