extends layout

block layout-content
    div.View.AdminView
        div.Account
            div.Title
                h1 Promoter Archiving
            form.Details(method='POST' action="/admin/archivePromoter")
                div.Details
                    select(name="promoterEmail" id="promoterEmail" class="form-control")
                        each promoter in promoters
                            option(value=promoter.email)= promoter.email + " | " + promoter.title + " " + promoter.firstName + " " + promoter.lastName
                div.NavButtons
                    input(type="submit" value="Go Back" formaction="/admin" formnovalidate=true)
                    input(type="submit" value="Archive the Promoter")