extends layout

block layout-content
    div.View.UserView
        div.Form
            form(method='POST')
                div.NavButtons
                    input(type="submit" name="submit" value="Submit your thesis topic" formaction="/student/thesis")
        div