extends layout

block layout-content
    div.View.AdminView
        div.Account
            div.Title
                h1 Student Archiving
            form.Details(method='POST' action="/admin/archiveStudent")
                div.Details
                    select(name="studentEmail" id="studentEmail" class="form-control")
                        each student in students
                            option(value=student.email)= student.email + " | " + student.firstName + " " + student.lastName
                div.NavButtons
                    input(type="submit" value="Go Back" formaction="/admin" formnovalidate=true)
                    input(type="submit" value="Archive the Student")