extends layout

block layout-content
    div.View.UserView
        h1.Banner Student
        div.Form
            form(method='POST')
                div.NavButtons
                    input(type="submit" name="update" value="Update your details" formaction="/student/details")
                    input(type="submit" name="submit" value="Submit your thesis topic" formaction="/student/thesis")
        div