extends layout

block layout-content
    div.View.UserView
        div.Form
            div.Title
                h1 Propose a topic
            form(method='POST' action="/promoter/suggestThesis")
                div.Details
                    label(for="topicPolish" class="sr-only") Polish Topic
                    input(type="text" name="topicPolish" id="topicPolish" class="form-control" placeholder="Polish Topic" required)
                    label(for="topicEnglish" class="sr-only") English Topic
                    input(type="text" name="topicEnglish" id="topicEnglish" class="form-control" placeholder="English Topic" required)
                    label(for="language" class="sr-only") Language
                    select(name="language" id="language" class="form-control")
                        each language in ["polish", "english"]
                            option= language
                div.NavButtons
                    input(hidden=reviewHidden type="submit" name="accept" value="Suggest Thesis Topic")