@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
    --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    fill: rgba(0, 0, 0, 0.54);
    --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;

    padding: 0;
    margin: 0;

    color: #2a3747;
}
h1 {
    font-size: 40px;
}
a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
}
.View {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    padding: 20px;

    background-size: cover;

    font-family: "Merriweather Sans", sans-serif;
}
.Banner {
    display: flex;
    justify-self: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    border-radius: 5px;

    overflow: hidden;
    background: white;
    padding: 15px;

    font-family: "Share Tech Mono", monospace;

    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}
.Form {
    display: flex;
    align-self: center;
    justify-self: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    max-height: 90%;

    background: white;
    padding: 25px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}
.Table {
    display: flex;
    align-self: safe center;
    justify-self: safe center;

    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;

    width: 95%;
    max-height: 85%;

    font-size: 20px;

    background: white;
    padding: 25px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}
.Scroll {
    overflow-y:auto;
    height: 100%;
}
.Title {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    width: 100%;
}
.Input {
    width: 90%;
}
.Details {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    font-size: 20px;

    width: 100%;
}
.NavButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px 10px 10px;
}
.Policy {
    padding: 10px 10px 10px 10px;
}
.WelcomeView {
    background: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Politechnika_Wroclawska_-_budynek_glowny.jpg") left bottom;
    background-size: cover;
}
.UserView {
    background: url("https://live.staticflickr.com/7385/8924365702_2e0a989d35_b.jpg") left bottom;
    background-size: cover;
}
.AdminView {
    background: url("https://upload.wikimedia.org/wikipedia/commons/2/24/Main_Building_of_Faculty_of_Architecture_of_Politechnika_Wroc%C5%82awska_%28Poland%2C_February_2013%29.jpg") left bottom;
    background-size: cover;
}

.form {
    width: available;
    padding: 15px;
    margin: auto;
}
.form .checkbox {
    font-weight: 400;
}
.form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form .form-control:focus {
    z-index: 2;
}
input {
    font-size: 20px;
}
select {
    font-size: 20px;
}
textarea {
    font-size: 20px;
}
input[type=submit] {
    background: teal;
    color: white;
    border-style: outset;
    border-color: teal;
    height: 60px;
    width: fit-content;
    min-width: 100px;
    font: bold 22px arial, sans-serif;
    text-shadow: none;
    margin: 10px;
}
input[type=submit]:disabled {
    background: darkgray;
    color: white;
    border-style: outset;
    border-color: darkgray;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}
textarea {
    max-height: 100%;
    max-width: 100%;
}
input:invalid {
    background-color: #ffdddd;
}
table {
    width: 100%;
    align-content: safe center;
    border-collapse: collapse;
}
tr.OPEN {
    background-color: lightgreen;
}
tr.UNAVAILABLE {
    background-color: lightgrey;
}